@import url(./css/global.css);

.desenvolvimento1 {
    div {
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            margin-left: 15px;
        }

        .cards {
            display: flex;
            gap: 2rem;
            margin-top: 2rem;

            h3 {
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 1rem;
                object-fit: contain;
                position: absolute;
                margin-left: 20px;
                margin-top: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .esquerda {
                position: absolute;
                right: 33rem;
            }
        }
    }

    padding-bottom: 5rem;

}


.desenvolvimento2 {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
        }

        p {
            font-size: 1.2rem;
            text-align: center;
            max-width: 900px;
        }

        button {
            background: none;
            color: #6DEE7E;
            border: 2px solid #6DEE7E;
            padding: 1rem 2rem;
            font-size: 1.2rem;
            border-radius: 50px;
            font-weight: 700;
            cursor: pointer;
        }
    }

    padding-bottom: 5rem;

}


.conclusao .cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h4 {
        font-size: 1.3rem;
        font-weight: 700;
        color: #000;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.card {
    width: 420px;
    padding: 2rem;
    background: #E1D6FF;
    color: black;
    border-radius: 30px;
    position: static;
}

.card1,
.card3 {
    align-self: flex-start;
}

.card2,
.card4 {
    align-self: flex-end;
}