@import url(../css/global.css);

.titulo {
    padding-bottom: 5rem;

    h2 {
        font-size: 2.5rem;
        padding-bottom: 5rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.7;
        color: #AAE6B2;
    }
}

.funcionamento {
    width: 100%;
    padding: 5rem 1rem;
}

.subtitulo {
    display: flex;
    justify-content: left;
    padding-bottom: 2rem;
    gap: 10rem;

    h1 {
        font-size: 4rem;
        font-weight: 300;
        color: #fff;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 100;
        color: #AAE6B2;
        text-align: center;
    }

    img {
        height: 100%;
        left: 0;
    }

}